.cartItem {
  padding: 20px;
  border: 3px solid #171717;
  border-radius: 30px;
  width: 250px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  transition: all 0.3s ease;
}

/* for medium devices */

@media screen and (max-width: 1024px) {
  .cartItem{
    flex: 1 1 250px;
  }
}

@media screen and (max-width: 768px) {
  .cartItem {
    width: 100%;
  }
}

.cartItemInside {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
  overflow: auto;
}

.cartItemInside::-webkit-scrollbar {
  display: none;
}

.nameStyle {
  font-weight: 700;
}

.descriptionStyle {
  font-size: 1rem;
  color: gray;
}

.priceStyle {
  font-weight: 600;
  font-size: 1.5rem;
}
