#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  #root {
    align-items: stretch;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Display', sans-serif;
}

body {
  background-color: #E33A3A;
  padding: 40px 30px
}

li {
  list-style: none;
}