.rounded {
  border-radius: 30px;
  padding: 20px 40px;
  border: 3px solid #171717;
  color: #171717;
  background-color: white;
  width: 100%;
  max-width: 1280px;

  transition: all 0.3s ease;
}

/* 3d animation of going up with shadow when hovering */

.rounded:hover {
  transform: translate(-3px, -3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}