.cardContainerInside{
  display: flex;
  padding: 5px;
  gap: 20px;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  overflow: scroll;
}

.cardContainerInside::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .cardContainerInside {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}